@charset "utf-8";
/* CSS Document */

.itemlistimage{
	margin-left: 30px;
}

.itemlist{
	margin-left: 30px;
	color: black;
	font-size: 40px;
}

.buttondescription{
	margin-top: 30px;
}

.hometitle{
	font-size: 100px;
}